* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e0d8; /* el beige del fondo */
  font-family: sans-serif;
}

.page {
  padding: 24px;
}

.navbar {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.navbar span{
  align-items: start;
  color: black;
}

.main-card {
  background-color: #ede7e0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text h1 {
  color: black;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 16px;
  color: #444;
  max-width: 320px;
}

.dropzone-wrapper {
  flex: 1;
  max-width: 420px;
}